/**foglio di stile**/
[class^=col].bg-light{
    background-color: white;
    color: black;
    text-align: left;
}

.row{
}

[class^=col]{
    height: 70px;
    background-color: rgb(6, 106, 236);
    line-height: 70px;
    vertical-align: middle;
    text-align: center;
    border: 1px solid white;
    color: white;
}

[class^=col].big{
    height: 140px;
}

.nested{
    background-color: rgb(26, 192, 115);
    line-height: 40px;
    height: 40px;
}

.col-5.padding,
.col-7.padding,
.padding.content-center{
    padding: 15px;
    
}

.col-7.padding,
.row.padding{
    height: 70px;
}